*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    overflow: hidden;
}
.c{
    height: 100vh;
    position: relative;
}
.c-bg{
    width: 20px;
    height: 100%;
    background-color: #4b40ee;
    position: absolute;
}
.c-wrapper{
    padding: 50px;
    display: flex;
}
.c-left{
    flex: 1;
}
.c-right{
    flex: 1;
    margin: 40px ;
    height: 100vh;
    width: 100%;
}
.c-corner{
    flex: 1;
}
.c-title{
    font-size: 60px;
    width: 8px;
}
.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0;
    font-weight: 300;
    width: 70%;
}
.c-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.c-desc{
    font-weight: 200;
    width: 70rem;
}
.c-desc b{
    font-weight: bold;
    
}
.form{
    align-items: center;
    height: 100%;
    width: 100vh;
}
input{
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 14px;
    padding-left: 10px;
    display: block;
}
.textarea{
    width: 30rem;
    height: 10rem;
    font-size: 14px;
    padding-left: 10px;
    resize: none;
    margin-top: 10px;
    margin-right: 20px;
    display: block;

}
button{
    border: none;
    padding: 15px;
    background-color: #4b40ee;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}
.c-bg2{
    width: 20px;
    height: 100%;
    background-color: #4b40ee;
    position: absolute;
}
@media screen and (max-width:480px){
    .main{
        overflow: hidden;
    }
    .c-wrapper{
        flex-direction: column;
        padding: 0px 20px;
    }
    .c-title{
        font-size: 30px;
    }
    .c-info-item{
        margin: 10px 0;
        width: 100%;
        margin-bottom: 0;

    }
    .c-desc{
        margin: 1px 0;
        display: none;
        margin-bottom: 0;
    }
    .textarea{
        width: 230px;
        height: 110px;
        margin-right: 20px;
    }
}
@media screen and (max-width:680px){
    .main{
        width: 100%;
        overflow: hidden;
    }
    .c-wrapper{
        flex-direction: column;
        padding: 0px 50px;
    }
    .c-title{
        font-size: 30px;
    }
    .c-info-item{
        margin: 10px 0;
        width: 100%;
        margin-bottom: 0;

    }
    .c-desc{

        display: none;
        margin-bottom: 0;
    }
    .textarea{
        width: 230px;
        height: 110px;
        margin-right: 20px;
    }
}
@media screen and (max-width:880px){
    .c-wrapper{
        flex-direction: column;
        padding: 0px 50px;
    }
    .c-title{
        font-size: 30px;
    }
    .c-info-item{
        margin: 10px 0;
        width: 100%;
        margin-bottom: 0;

    }
    .c-desc{

        display: none;
        margin-bottom: 0;
    }
    input{
        width: 230px;
    }
    .textarea{
        width: 230px;
        height: 110px;
        margin-right: 20px;
    }
    .main{
        width: 100%;
        overflow: hidden;
    }
}